footer{
    background-color: rgb(49, 49, 49);
    padding: 50px 0 70px 50px;
    color: white;
    p{
        margin-top: 10px;
    }
    ul{
        padding-left: 0px;
        li{
            margin-bottom: 20px;
            list-style: none;
            .foot1{
                margin-right: 30px;
            }
            .foot2{
                margin-right: 19px;
            }
        }
    }
}