header{
    margin: 15px 0 40px;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 12em;
        margin-bottom: 15px;
    }
    #def{
        #lieu{
            background-color: rgb(223, 223, 223);
            display: flex;
            align-items: center;
            justify-content: center;

            .fa-map-marker-alt{
                margin-right: 20px;
            }
        }
        #presentation{
            background-color: rgba(223, 222, 222, 0.486);
            text-align: center;
            padding: 50px 0 40px;
            h1{
                margin: 0 50px 20px 50px;
            }
            p{
                margin: 0 15px 0 15px;
            }
        }
    }
    nav{
        width: 90%;
        @include tablette-pc{
            width: 95%;
            margin: 0;
        }
        h2{
            margin-left: 20px;
        }
        @include tablette-pc{
            ol{
                display: flex;
                justify-content: space-between;
            }
        }
        li{
            width: 90%;
            box-shadow: 2px 2px 10px silver;
            padding: 20px 5px 20px 15px;
            margin-bottom: 20px;
            border-radius: 40px;
            border: 1px solid rgba(223, 222, 222, 0.486);
            background: rgba(223, 222, 222, 0.486);
            list-style: none;
            counter-increment: repas;
            @include tablette-pc{
                width: 25%;
                text-align: center;
            }

            .nav{
                margin-right: 15px;
                margin-left: 0;
            }
            .grey{
                color: rgb(112, 112, 112);
                @include tablette-pc{
                        display: none;
                }
            }
            &:hover{
                background-color: lighten($color: $primary, $amount: 33);
                box-shadow: 10px 10px 5px silver;
                .grey{
                    color: $primary;
                }
            }
            &:before{
            content: counter(repas);
            padding: 4px 7px 4px 7px;
            position: relative;
            left: -30px;
	        background: $primary;
	        border-radius: 60px;
	        font-weight: bold;
	        font-size: 1em;
            color: white;
            @include tablette-pc{
                bottom: -10px;
                font-size: 1em;
                position: initial;
                margin-right: 20px;
            }
            }
        }    
    }
}