section{
    background: $greyclair;
    padding-bottom: 25px;
    h2{
        padding: 35px 0 0 50px;
    }
    @include tablette-pc{
        .responsive-tablette{
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin: 0;
        }
    }
    .restaurant{
        margin: auto;
        width: 75%;
        height: 225px;
        border-radius: 30px;
        background: white;
        border-radius: 30px;
        margin-bottom: 40px;
        @include tablette-pc{
            width: 45%;
        }
        .image_nouveau{
            p{
                background-color: $tertiary;
                width: 80px;
                text-align: center;
                padding: 5px;
                color: darken($tertiary, 35);
                float: right;
                margin-right: 20px;
                position: relative;
                bottom: 170px;
                border-radius: 5px;      
            }
            img{
                width: 100%;
                height: 170px;
                border-radius: 30px 30px 0 0;
            }
        }
        .image{
            img{
                width: 100%;
                height: 170px;
                border-radius: 30px 30px 0 0;
            }
        }
        .description__nouveau{
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: auto;
            position: relative;
            bottom: 60px;
            align-items: center;
            .description__gauche{
                h3{
                    margin: 0;
                    a{
                        @include titre__resto;
                    }
                }
                p{
                    margin-top: 2px;
                }
            }
            .fa-heart{
                @include coeur;
            }
        }
        .description{
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: auto;
            align-items: center;
            .description__gauche{
                h3{
                    margin: 2px 0;
                    a{
                        @include titre__resto;
                    }
                }
                p{
                    margin-top: 2px;
                }
            }
            .fa-heart{ 
                @include coeur;
            }
        }
    }
}
