@mixin mobile-only{
    @media screen and (max-width: 799px)
    {
        @content;
    }
}

@mixin coeur{
    transform-origin: 50% bottom;
    color: $greyfonce;
    &:hover{
        cursor: pointer;
    }
    &:active:before{
        animation: coeur 1500ms;
    } 
}


@mixin menu{
    width: 90%;
    margin: auto;
    h2{
        width: 30%;
        margin-left: 20px;
        border-bottom: 5px solid $tertiary;
    }
    .menu{
        border-radius: 40px;
        background-color: white;
        padding: 20px;
        margin-bottom: 40px;
        h3{
            margin: 10px;
        }
        .description_prix{
            margin: 0 10px 0 10px;
            display: flex;
            justify-content: space-between;
            p{
                margin: 0;
            }
        }
    }
}



