@mixin mobile-only{
    @media screen and (max-width: 799px)
    {
        @content;
    }
}

@mixin coeur{
    @keyframes coeur{
        0% {
            transform: scale(0.5);
            color: $primary;
            opacity: 0.1;
        }
        80% {
            transform: scale(1);
            color: $primary;
            opacity: 0.5;
        }
        90% {
            transform-origin: center;
            transform: scale(0.8);
            color: $primary;
            opacity: 0.2;
        }
        100%{
            transform: scale(1);
            color: $primary;
            opacity: 1;
        }
    }
    color: rgb(214, 214, 214);
    &:hover{
        cursor: pointer;
    }
    &:active{
        animation: coeur 1500ms;
        animation-fill-mode: both;
        color: $primary;
    }   
}