section{
    img{
        width: 100%;
        height: 500px;
        z-index: 1;
    }
    #contenair{
        background-color: $grey;
        position: relative;
        bottom: 140px;
        z-index: 2;
        border-radius: 100px 100px 0;
        .titre{
            display: flex;
            width: 90%;
            margin: auto;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            .fa-heart{
                transform-origin: 50% bottom;
                @include coeur;
            }
        }
    }
}


