button{
    font-size: 1em;;
    padding: 30px;
    border-radius: 60px;
    margin-top: 60px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC );
    color: white;
    border-style: none;
    &:hover{
        box-shadow: 3px 3px 50px $primary;
        opacity: 0.9;
    }
}