body
{
    width: 1200px;
    margin: auto;

    @include mobile-only{
        width: 100%;
        min-width: 320px;
    }

    @include tablette-pc{
        width: 98%;
        min-width: 800px;
    }     
}