/*
    logo et titre
        font-family: 'Shrikhand', cursive;
    texte
        font-family: 'Roboto', sans-serif; 

*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

header {
  button {
    font-weight: bold;
    font-size: 0.9em;
  }
  li {
    font-weight: bold;
  }
}

section {
  .image_nouveau {
    p {
      font-weight: bold;
    }
  }
}

footer {
  p {
    font-family: "Shrikhand", cursive;
    font-size: 1.5em;
  }
}
