@mixin mobile-only{
    @media screen and (max-width: 799px)
    {
        @content;
    }
}

@mixin restaurant-description-nouveau{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    bottom: 100px; 
}