@mixin mobile-only{
    @media screen and (max-width: 799px)
    {
        @content;
    }
}

@mixin restaurant-description-nouveau{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    bottom: 100px; 
}

@mixin coeur{
    @keyframes coeur{
        0% {
            transform: scale(0.5);
            color: $primary;
            opacity: 0.1;
        }
        30% {
            color: $primary;
            opacity: 0.3;
            }
        50% {
            color: $primary;
            opacity: 0.5;
        }
        80% {
            color: $primary;
            opacity: 0.8;
        }
        100% {
            transform: scale(1);
            color: $primary;
            opacity: 1;
        }
    }
    color: rgb(214, 214, 214);
    &:hover{
        cursor: pointer;
    }
    &:active{
        animation: coeur 1500ms;
        animation-fill-mode: both;
        color: $primary;
    }   
}

@mixin titre__resto{
    text-decoration: none;
    color: black;
    display: block;
    transform: scale(1);
    transition: transform 400ms, color 300ms;
    &:hover{
        transform: scale(1.2);
        color: $primary;
    }                    
}